/*
 * CSS styles for the Camptix-xml-csv plugin form and shortcode
 */

.camptix-wceu-btns {
	margin-block: 1rem;
	justify-content: center;
}

.camptix-form {
	flex-direction: column;
}

.camptix-form-item {
	width: 100%;
	padding-top: 1em;
}

.camptix_form_text {
	width: 100%;
	font-size: 90%;
}

.camptix-error {
	margin-top: 1rem;
	border: 2px solid red;
	padding: 1em;
	color: red;
}

.camptix-success {
	margin-top: 1rem;
	border: 2px solid green;
	padding: 1em;
	color: green;
}

.camptix-hidden {
	display: none;
}
