/*
 * CSS styles for the Camptix-xml-csv plugin form and shortcode
 */

.camptix-wceu-btns {
	justify-content: center;
}

.camptix-form {
	flex-direction: column;
}

.camptix-form-item {
	width: 100%;
	padding-top: 1em;
}

.camptix_form_text {
	font-size: 90%;
}

.camptix-error {
	border: 2px solid red;
	padding: 1em;
	color: red;
}
